$font-logo: 'Sansita Swashed', sans-serif;
$font-primary: 'Roboto', sans-serif;

$color-blue-light: #a0d2eb;

$color-purple-light-1: #d0bdf4;
$color-purple-light-2: #e5eaf5;

$color-purple: #8458B3;
$color-purple-dark: #494D5F;

$color-black: #111;
$color-white: #eee;